@import './base.css';

input {
  display: flex;
  padding: 11px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 2px solid var(--color-input-border);
  background: var(--color-input-background);
}

.container {
  display: flex;
  align-items: center;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border-radius: 4px;
  display: flex;
  padding: 10px 44px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn a {
  text-decoration: none;
  color: var(--color-nav-text);
}

.btn-primary {
  background: var(--color-background-btn-primary);
}

.btn-secondary {
  background: var(--color-background-btn-secondary);
}

.learn-more-link {
  margin-top: 46px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.learn-more-link a {
  color: var(--color-link);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}